$TTL    604800
@       IN      SOA     {{ common.base_domain }}. root.{{ common.base_domain }}. (
                              2         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL

@       IN      NS      haproxy.{{ zone_name }}.
@       IN      A       {{ dns_ip }}
haproxy.{{ zone_name }}.     IN A {{ ubuntu_installer_ip }}
bootstrap.{{ zone_name }}.   IN A {{ ocp_bootstrap[0].ip }}
master1.{{ zone_name }}.     IN A {{ ocp_masters[0].ip }}
master2.{{ zone_name }}.     IN A {{ ocp_masters[1].ip }}
master3.{{ zone_name }}.     IN A {{ ocp_masters[2].ip }}
api.{{ zone_name }}.         IN A {{ ubuntu_installer_ip }}
api-int.{{ zone_name }}.     IN A {{ ubuntu_installer_ip }}
*.apps.{{ zone_name }}.      IN A {{ ubuntu_installer_ip }}
