acl internal-network {
    {{ common.solution_subnet_ip }};
};
options {
    directory "/var/cache/bind";
    allow-query { localhost; internal-network; };
    allow-transfer { localhost; };
    forwarders { {{ common.gateway_ip }}; };
    recursion yes;
    dnssec-validation auto;
    listen-on-v6 { any; };
};