$TTL    604800
@       IN      SOA     {{ base_domain }}. root.{{ base_domain }}. (
                              1         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL

@       IN      NS      ns.{{ base_domain }}.
ns      IN      A       {{ dns_ip }}

{{ dns_ip.split('.')[3] }}        IN PTR haproxy.{{ zone_name }}.
{{ ocp_bootstrap[0].ip.split('.')[3] }} IN PTR bootstrap.{{ zone_name }}.
{{ ocp_masters[0].ip.split('.')[3] }}  IN PTR master1.{{ zone_name }}.
{{ ocp_masters[1].ip.split('.')[3] }}  IN PTR master2.{{ zone_name }}.
{{ ocp_masters[2].ip.split('.')[3] }}  IN PTR master3.{{ zone_name }}.
{{ ubuntu_installer_ip.split('.')[3] }}        IN PTR api.{{ zone_name }}.
{{ ubuntu_installer_ip.split('.')[3] }}        IN PTR api-int.{{ zone_name }}.
