#cloud-config
autoinstall:
  version: 1
  identity:
    hostname: {{ ubuntu_installer_hostname }}
    username: root
    password: {{ ubuntu_installer_password_hashed }}  # hashed password (e.g., mkpasswd -m sha-512)
  keyboard:
    layout: us
  locale: en_US
  network:
    version: 2
    ethernets:
      enp1s0:
        match:
          name: e*
        set-name: enp1s0
        dhcp4: no
        addresses:
          - {{ ubuntu_installer_ip }}/{{ ubuntu_installer_host_prefix }}
        routes:
          - to: default
            via: {{ ubuntu_installer_host_gateway }}
        nameservers:
          addresses:
            - {{ ubuntu_installer_host_nameserver }}
  storage:
    layout:
      name: lvm
  ssh:
    install-server: true
  updates: security
  late-commands:
    - echo "root:{{ ubuntu_installer_password }}" | chpasswd
    - passwd -u root
    - sed -i 's/^#\?PermitRootLogin .*/PermitRootLogin yes/' /etc/ssh/sshd_config
    - sed -i 's/^#\?PasswordAuthentication .*/PasswordAuthentication yes/' /etc/ssh/sshd_config
    - systemctl restart ssh
    - echo "Installation completed" > /root/install.log